@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* Disable Tailwind's CSS reset to preserve existing styles */
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

@config "../tailwind.config.mjs";

/* Import Azeret Mono font from local package */
@import "@fontsource/azeret-mono/300.css";
@import "@fontsource/azeret-mono/400.css";
@import "@fontsource/azeret-mono/700.css";

textarea:focus {
	outline: 1.5px solid var(--vscode-focusBorder, #007fd4);
}

vscode-button::part(control):focus {
	outline: none;
}

/*
Use vscode native scrollbar styles
https://github.com/gitkraken/vscode-gitlens/blob/b1d71d4844523e8b2ef16f9e007068e91f46fd88/src/webviews/apps/home/home.scss
*/

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.25;
	height: 100%;
	width: 100%;
}

#root {
	height: 100%;
	width: 100%;
}

body.scrollable,
.scrollable,
body.code-block-scrollable,
.code-block-scrollable {
	border-color: transparent;
	transition: border-color 0.7s linear;
}

body:hover.scrollable,
body:hover .scrollable,
body:focus-within.scrollable,
body:focus-within .scrollable,
body:hover.code-block-scrollable,
body:hover .code-block-scrollable,
body:focus-within.code-block-scrollable,
body:focus-within .code-block-scrollable {
	border-color: var(--vscode-scrollbarSlider-background);
	transition: none;
}

.scrollable::-webkit-scrollbar-corner {
	background-color: transparent !important;
}

.scrollable::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-color: inherit;
	border-right-style: inset;
	border-right-width: calc(100vw + 100vh);
	border-radius: unset !important;
}

.scrollable::-webkit-scrollbar-thumb:hover {
	border-color: var(--vscode-scrollbarSlider-hoverBackground);
}

.scrollable::-webkit-scrollbar-thumb:active {
	border-color: var(--vscode-scrollbarSlider-activeBackground);
}

/*
Fix VSCode ignoring webkit scrollbar modifiers
https://github.com/microsoft/vscode/issues/213045
*/
@supports selector(::-webkit-scrollbar) {
	html {
		scrollbar-color: unset;
	}
}

/*
The above scrollbar styling uses some transparent background color magic to accomplish its animation. However this doesn't play nicely with SyntaxHighlighter, so we need to set a background color for the code blocks' horizontal scrollbar. This actually has the unintended consequence of always showing the scrollbar which I prefer since it makes it more obvious that there is more content to scroll to.
*/

.code-block-scrollable::-webkit-scrollbar-track {
	background: transparent;
}

.code-block-scrollable::-webkit-scrollbar-thumb {
	background-color: var(--vscode-scrollbarSlider-background);
	border-radius: 5px;
	border: 2px solid transparent;
	background-clip: content-box;
}

.code-block-scrollable::-webkit-scrollbar-thumb:hover {
	background-color: var(--vscode-scrollbarSlider-hoverBackground);
}

.code-block-scrollable::-webkit-scrollbar-thumb:active {
	background-color: var(--vscode-scrollbarSlider-activeBackground);
}

.code-block-scrollable::-webkit-scrollbar-corner {
	background-color: transparent;
}

/*
Dropdown label
https://github.com/microsoft/vscode-webview-ui-toolkit/tree/main/src/dropdown#with-label
*/
.dropdown-container {
	box-sizing: border-box;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: flex-start;
}
.dropdown-container label {
	display: block;
	color: var(--vscode-foreground);
	cursor: pointer;
	font-size: var(--vscode-font-size);
	line-height: normal;
	margin-bottom: 2px;
}

/* Fix scrollbar in dropdown */

vscode-dropdown::part(listbox) {
	border-color: var(--vscode-scrollbarSlider-background);
	transition: none;
	scrollbar-color: var(--vscode-scrollbarSlider-background) transparent;
}

/* Faded icon buttons in textfields */

.input-icon-button {
	cursor: pointer;
	opacity: 0.65;
}
.input-icon-button:hover {
	opacity: 1;
}
.input-icon-button.disabled {
	cursor: not-allowed;
	opacity: 0.4;
}
.input-icon-button.disabled:hover {
	opacity: 0.4;
}

/* Context mentions */

.mention-context-textarea-highlight {
	background-color: color-mix(in srgb, var(--vscode-badge-foreground) 30%, transparent);
	border-radius: 3px;
	box-shadow: 0 0 0 0.5px color-mix(in srgb, var(--vscode-badge-foreground) 30%, transparent);
	color: transparent;
	/* padding: 0.5px;
	margin: -0.5px;
	position: relative;
	bottom: -0.5px; */
}

.mention-context-highlight {
	background-color: color-mix(in srgb, var(--vscode-badge-foreground) 30%, transparent);
	border-radius: 3px;
}

.mention-context-highlight-with-shadow {
	background-color: color-mix(in srgb, var(--vscode-badge-foreground) 30%, transparent);
	border-radius: 3px;
	box-shadow: 0 0 0 0.5px color-mix(in srgb, var(--vscode-badge-foreground) 30%, transparent);
}

.slash-command-match-textarea-highlight {
	background-color: color-mix(in srgb, var(--vscode-focusBorder) 30%, transparent);
	border-radius: 3px;
	box-shadow: 0 0 0 0.5px color-mix(in srgb, var(--vscode-focusBorder) 30%, transparent);
	color: transparent;
}

.hai-task-list-wrapper {
	overflow-y: auto;
	height: 100%;
	margin-top: 113px;
}

.hai-task-list-header {
	padding: 1rem;
	position: absolute;
	top: 0;
	background: var(--background);
	width: calc(100% - 2rem);
}

.hai-task-list {
	padding: 0;
	margin: 0 16px;
	list-style-type: none;
	overflow-y: auto;
}
.hai-task-list-item {
	background-color: color-mix(in srgb, var(--vscode-toolbar-hoverBackground) 65%, transparent);
	border-bottom: 1px solid var(--checkbox-border);
	padding: 1rem;
}
.hai-task-list-item:last-child {
	border-bottom: none;
}
.hai-task-list-item p {
	margin: 0 0 8px 0;
}
.hai-task-list-item:hover,
.accordion-header:hover {
	background-color: color-mix(in srgb, var(--vscode-toolbar-hoverBackground) 100%, transparent);
	border-radius: 4px;
	border-color: transparent;
}

.hai-story-accordion {
	border-radius: 4px;
}

.accordion-header {
	padding: 1rem;
	width: 100%;
	text-align: left;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	background: var(--background);
	color: var(--vscode-editor-foreground);
}
.accordion-header p {
	font-size: 0.823rem;
	margin-bottom: 0;
}

.accordion-content {
	background-color: var(--background);
}

.accordion-content.open,
.accordion-header.open {
	border-left: 4px solid;
}

.hai-logo {
	color: var(--vscode-editor-foreground);
	fill: var(--vscode-editor-foreground);
}

.card-container {
	background-color: color-mix(in srgb, var(--vscode-toolbar-hoverBackground) 65%, transparent);
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	opacity: 0.8;
	cursor: pointer;
}

.card-container:hover {
	background-color: color-mix(in srgb, var(--vscode-toolbar-hoverBackground) 100%, transparent);
	opacity: 1;
	pointer-events: auto;
}

.getting-started-item {
	margin-bottom: 12px;
}

.getting-started-title {
	color: var(--vscode-descriptionForeground);
	font-weight: 500;
	font-size: 0.85em;
	text-transform: uppercase;
}

.tiles-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 12px;
	margin-top: 20px;
}

@media (max-width: 800px) {
	.tiles-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 400px) {
	.tiles-container {
		grid-template-columns: 1fr;
	}
}
